

.app {
    background: linear-gradient(45deg, hsla(228, 19%, 5%, 1) 0%, hsla(213, 24%, 16%, 1) 34%, hsla(214, 64%, 2%, 1) 82%, hsla(228, 19%, 5%, 1) 100%); 
    width: 100vw;
    height: 100vh;
    /* background-image: url("./Images/home_page.jpg");
    background-size: cover;    
    background-attachment: fixed; */
    overflow-y: scroll;
    overflow-x: hidden;
    color: azure;
}
.app::-webkit-scrollbar{
    display: none;
}

/* .cusotm-bg{
    width: 100vw;
    height: 100vh;
} */